md-input-container div.md-errors-spacer {
    display: none;
}

md-switch {
    margin-top: 0;
}

.md-input.small {
    font-size: 9pt;
    line-height: 9pt;
}

.md-input.monospace {
    font-family: monospace;
}

.md-button.md-fab .material-icons {
    line-height: 56px;
}

.md-button.md-fab.w-right-bottom-button {
    position: fixed;
    bottom: 12px;
    right: 12px; /* remove this background-color assignment and customize the theme properly instead*/
    background-color: #0288D1;
    z-index: 21;
}

    .md-button.md-fab.w-right-bottom-button:not([disabled]):hover {
        background-color: #0288D1;
    }

.w-fix-min-width {
    min-width: 328px;
}

md-card:last-child {
    margin-bottom: calc(56px + 12px + 4px);
}
